@font-face {
    font-family: "mainFont";
    src: url("../App/Styles/JetBrainsMono-Regular.ttf");
}

* {
    font-family: "mainFont";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 204, 204);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#title {
    text-align: center;
    min-width: 300px;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
}

#container {
    height: auto;
    width: 90%;
}

#container ul {
    height: 200px;
}

#container ul {
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
}

#container ul::-webkit-scrollbar {
    display: none;
}

#container ul>li:hover {
    background-color: "#40ff00";
    cursor: pointer;
}

#btnGroup {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

button {
    width: 20%;
    height: 40px;
}

hr {
    width: 90%;
}