<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences</title>
</head>

<body>
    <div id='preferences-tab-list'>
        <div id='names-of-them'>
            <ul id='opts-container' data-tabs-prefs>
                <li><a data-tabby-default href="#canvas-prefs-tab">Canvas</a></li>
                <li><a href="#commands-prefs-tab">Commands</a></li>
                <li><a href="#exporting-prefs-tab">Exporting</a></li>
            </ul>
        </div>
        <div id='opts-part'>
            <div id='canvas-prefs-tab'>
                <div id="canvas-wrapper">
                    <h2 id="canvas-title">Canvas</h2>
                    <div id="canvas-opts">
                        <label>Width</label>
                        <input id="width" type="number" placeholder="1000" />
                        <label>Height</label>
                        <input id="height" type="number" placeholder="1000" />
                    </div>
                </div>
                <hr />
                <div id="canvas-bg-wrapper">
                    <h2 id="canvas-bg-title">Canvas Background</h2>
                    <div id="canvas-bg-opts">
                        <label>Background Grid </label>
                        <input id="bgGrid" type="checkbox" />
                        <label>Constraint Sizes </label>
                        <input id="bgConstraint" type="checkbox" />
                        <label>Horizontal Spacing </label>
                        <input id="hsep" type="number" placeholder="100" />
                        <label>Vertical Spacing </label>
                        <input id="vsep" type="number" placeholder="100" />
                    </div>
                </div>
            </div>

            <div id='commands-prefs-tab'>
                <p1>Commands inteligent0</p1>
            </div>
            <div id='exporting-prefs-tab'>
                <div id="exporting-gif-wrapper">
                    <h2 id="exporting-gif-title">GIF</h2>
                    <div id="exporting-gif-opts">
                        <label>Delay (ms)</label>
                        <input id="delay" type="number" placeholder="1000" />
                        <label>Frames to skip</label>
                        <input id="skip_frames" type="number" placeholder="1" />
                    </div>
                </div>
            </div>

            <div id='apply'>
                <button id="final_submit">Apply (needs restart)</button>
            </div>
        </div>
    </div>
</body>

</html>