@font-face {
    font-family: "mainFont";
    src: url("../App/Styles/JetBrainsMono-Regular.ttf");
}

*{
    font-family: "mainFont";
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    background-color: rgb(240, 240, 240);
    width: 100wh;
    height: 100vh;
    min-width: 500px;
}
#preferences-tab-list{
    width: 100%;
    height: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    background-color: rgb(224, 224, 224);
    min-width: 700px;
}

#opts-part{
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
#opts-container{
    display: flex;
    flex-direction: column;
}
#canvas-prefs-tab{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 100%;
    height: 100%;
}

#canvasDims{
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
label{
    min-width: 200px;
}

input{
    text-align: center;
}

#width, #height{
    width: 200px;
    margin: 3px 0px;
}
#apply{
    width: 100%;
    padding-bottom: 10px;
}
#final_submit{
    width: 100%;
    height: 40px;
}

#names-of-them{
    overflow: auto;
    width: 100%;
    max-width: 200px;
}
a{
   width: 100%;
   min-width: 200px;
   max-width: 200px;
}

#exporting-prefs-tab{
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px rgb(138, 138, 138) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 100%;
    height: 100%;
}

#exporting-gif-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#exporting-gif-title{
    margin: 10px 0px;
}

#exporting-gif-opts{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

#delay, #skip_frames{
    width: 200px;
    margin: 3px 0px;
}
